# Clean Indatabet-Free-Odds Data

In [1]:
import pathlib
import sys
import datetime

import numpy as np
import pandas as pd
from pyxlsb import open_workbook as open_xlsb

# Load the "autoreload" extension
%load_ext autoreload
# always reload modules marked with "%aimport"
%autoreload 1
# add the 'src' directory to path to import modules
src_dir = pathlib.Path().cwd().resolve().parent / 'src'
#src_dir = os.path.join(os.getcwd(), os.pardir, 'src')
sys.path.append(src_dir)
# import my class code from the source
# %aimport src-dir.filename

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

DATA_DIR = pathlib.Path().cwd().resolve().parent / 'data'
RAW_DATA_DIR = DATA_DIR / '01-raw'
INTERIM_DATA_DIR = DATA_DIR / '02-interim'

## Compile Premier League Data

In [2]:
ODDS_DATA_FP = RAW_DATA_DIR / 'indatabet-free-download' / 'oOo FT_2in1_Pinnacle & bet365_ML TG_01 April 2019.xlsb'

print(ODDS_DATA_FP)
save_file_name = 'indatabet-free-odds.csv'

/media/david/5C14F53A14F517AA/code/ana_py37/projects/soccer-predictions/data/01-raw/indatabet-free-download/oOo FT_2in1_Pinnacle & bet365_ML TG_01 April 2019.xlsb

In [3]:
# https://stackoverflow.com/questions/45019778/read-xlsb-file-in-pandas-python
# Open xlsb file format
df = []

with open_xlsb(ODDS_DATA_FP) as wb:
    with wb.get_sheet(1) as sheet:
        for row in sheet.rows():
            df.append([item.v for item in row])

odds = pd.DataFrame(df[1:], columns=df[0])
odds.columns = odds.columns.str.lower()
odds.head()

       yy    dd    mm       date id (fifa)    country            league     season               teams                NaN 1st half scores   NaN   NaN   NaN 2nd half scores   NaN   NaN   NaN final scores   NaN   NaN   NaN et/pen/awd ft moneyline   NaN   NaN payout, % ft moneyline   NaN   NaN payout, % ft tg 2.5   NaN ft tg 2.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
0     NaN   NaN  None       None      None       None              None       None                Home               Away               H     A     R   1.5               H     A     R   1.5            H     A     R   2.5       None     pinnacle  None  None      None       bet365  None  None      None  pinnacle  None    bet365  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None
1     NaN   NaN  None       None      None       None              None       None                None               None            None  None  None  None            None  None  None  None         None  None  None  None       None            H     D     A         O            H     D     A         O         O     U         O     U  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None
2  2019.0  31.0   Mar  31/3/2019    ARG D1  Argentina  Primera Division  2018/2019  Defensa y Justicia  Union de Santa Fe               0     0     D     U               1     1     D     O            1     1     D     U       None         2.08  3.19   4.1   96.3251            2   3.1   4.2   94.2795      2.46  1.54       2.4  1.53  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None
3  2019.0  31.0   Mar  31/3/2019    ARG D1  Argentina  Primera Division  2018/2019               Tigre        Racing Club               0     0     D     U               1     1     D     O            1     1     D     U       None         4.42  3.23  1.98   96.0714         4.33  3.25   1.9   93.9007       2.4  1.57       2.1   1.7  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None
4  2019.0  31.0   Mar  31/3/2019    ARG D1  Argentina  Primera Division  2018/2019      Argentinos Jrs    Rosario Central               0     1     A     U               0     1     A     U            0     2     A     U       None         2.36  3.08  3.46   96.3928         2.25   2.9   3.6   93.7163      2.52  1.52       2.4  1.53  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None  None

In [4]:
# Lots of empty cloumns to remove
odds_df = odds.copy(deep=True)

# Cutoff columns
odds_df = odds_df.iloc[:, 0:35]
# make column names strings
col_mapper = {col: str(col) for col in odds_df.columns}
odds_df.rename(columns = col_mapper, inplace=True)
# Drop unnecessary columns
# Columns that can be calculated from other data such as Results goals over, under etc
# col 12 is first None | R | none
drop_cols = set([12,13,14,15, 16, 17, 20, 21, 26, 30])
all_cols = set(range(0,odds_df.shape[1]))
keeper_cols = all_cols.difference(drop_cols)
odds_df = odds_df.iloc[:, list(keeper_cols)]
col_names = ['yy', 'dd', 'mm', 'date', 'id_fifa', 'country', 'league', 'season', 'h', 'a',
            'h_htgoals', 'a_htgoals', 'h_ftgoals', 'a_ftgoals', 'et_pen_awd',
             'odds_hwin_pinn', 'odds_draw_pinn', 'odds_awin_pinn',
            'odds_hwin_bet365', 'odds_draw_bet365', 'odds_awin_bet365',
            'odds_ftgoalso2.5_pinn', 'odds_ftgoalsu2.5_pinn',
            'odds_ftgoalso2.5_bet365', 'odds_ftgoalsu2.5_bet365']
odds_df.columns = col_names
odds_df = odds_df.iloc[2:].reset_index(drop=True)
# Put seasons into my format
odds_df['season'] = odds_df['season'].str.replace('/', '-')
# Assemble date into common format - original date column cannot be trusted - multiple formats 
odds_df['date'] = pd.to_datetime(odds_df['yy'].astype(int).astype(str) + '-' + odds_df['mm'].astype(str)
                                 + '-' + odds_df['dd'].astype(int).astype(str))
odds_df.drop(columns=['yy', 'dd', 'mm'], inplace=True)
odds_df.sort_values(by='date', ascending=True, inplace=True)
odds_df.reset_index(drop=True, inplace=True)

odds_df.head()

        date id_fifa country league season           h              a h_htgoals a_htgoals h_ftgoals a_ftgoals et_pen_awd odds_hwin_pinn odds_draw_pinn odds_awin_pinn odds_hwin_bet365 odds_draw_bet365 odds_awin_bet365 odds_ftgoalso2.5_pinn odds_ftgoalsu2.5_pinn odds_ftgoalso2.5_bet365 odds_ftgoalsu2.5_bet365
0 2006-08-16     EUR  Europe   Euro    NaN     Belgium     Kazakhstan         0         0         0         0       None           None           None           None              1.1                7               15                  None                  None                    None                    None
1 2006-09-02     EUR  Europe   Euro    NaN       Spain  Liechtenstein         2         0         4         0       None           None           None           None             1.01               10               51                  None                  None                    None                    None
2 2006-09-02     EUR  Europe   Euro    NaN  Luxembourg    Netherlands         0         1         0         1       None           None           None           None               51               10             1.01                  None                  None                    None                    None
3 2006-09-02     EUR  Europe   Euro    NaN     Moldova         Greece         0         1         0         1       None           None           None           None                5              3.6             1.57                  None                  None                    None                    None
4 2006-09-02     EUR  Europe   Euro    NaN      Serbia     Azerbaijan         0         0         1         0       None           None           None           None              1.1                7               15                  None                  None                    None                    None

In [5]:
# Format column data to lower case strings, replace  space with dash
str_cols = odds_df.columns[(odds_df.applymap(type) == str).all(0)]
print(str_cols)
for col in str_cols:
    odds_df[col] = odds_df[col].str.strip().str.lower().str.replace(' ', '-')
odds_df.head()

Index(['id_fifa', 'country', 'league', 'h', 'a'], dtype='object')

        date id_fifa country league season           h              a h_htgoals a_htgoals h_ftgoals a_ftgoals et_pen_awd odds_hwin_pinn odds_draw_pinn odds_awin_pinn odds_hwin_bet365 odds_draw_bet365 odds_awin_bet365 odds_ftgoalso2.5_pinn odds_ftgoalsu2.5_pinn odds_ftgoalso2.5_bet365 odds_ftgoalsu2.5_bet365
0 2006-08-16     eur  europe   euro    NaN     belgium     kazakhstan         0         0         0         0       None           None           None           None              1.1                7               15                  None                  None                    None                    None
1 2006-09-02     eur  europe   euro    NaN       spain  liechtenstein         2         0         4         0       None           None           None           None             1.01               10               51                  None                  None                    None                    None
2 2006-09-02     eur  europe   euro    NaN  luxembourg    netherlands         0         1         0         1       None           None           None           None               51               10             1.01                  None                  None                    None                    None
3 2006-09-02     eur  europe   euro    NaN     moldova         greece         0         1         0         1       None           None           None           None                5              3.6             1.57                  None                  None                    None                    None
4 2006-09-02     eur  europe   euro    NaN      serbia     azerbaijan         0         0         1         0       None           None           None           None              1.1                7               15                  None                  None                    None                    None

In [6]:
odds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228764 entries, 0 to 228763
Data columns (total 22 columns):
date                       228764 non-null datetime64[ns]
id_fifa                    228764 non-null object
country                    228764 non-null object
league                     228764 non-null object
season                     174088 non-null object
h                          228764 non-null object
a                          228764 non-null object
h_htgoals                  206228 non-null object
a_htgoals                  206228 non-null object
h_ftgoals                  228729 non-null object
a_ftgoals                  228688 non-null object
et_pen_awd                 216 non-null object
odds_hwin_pinn             198094 non-null object
odds_draw_pinn             198094 non-null object
odds_awin_pinn             198093 non-null object
odds_hwin_bet365           221965 non-null object
odds_draw_bet365           221965 non-null object
odds_awin_bet365           221965 non-null object
odds_ftgoalso2.5_pinn      137059 non-null object
odds_ftgoalsu2.5_pinn      137051 non-null object
odds_ftgoalso2.5_bet365    185095 non-null object
odds_ftgoalsu2.5_bet365    185097 non-null object
dtypes: datetime64[ns](1), object(21)
memory usage: 38.4+ MB

In [7]:
odds_df.to_csv(INTERIM_DATA_DIR / 'indatabet-free-odds' / save_file_name, index=False)

In [8]:
dtypes = {'id_fifa': np.object, 'country': np.object, 'league': np.object,
          'season': np.object, 'h': np.object, 'a': np.object,
          'h_htgoals': np.float64, 'a_htgoals': np.float64,
          'h_ftgoals': np.object, 'a_ftgoals': np.object, 'et_pen_awd': np.object,
          'odds_hwin_pinn': np.float64, 'odds_draw_pinn': np.float64, 'odds_awin_pinn': np.float64,
          'odds_hwin_bet365': np.float64, 'odds_draw_bet365': np.float64, 'odds_awin_bet365': np.float64,
          'odds_ftgoalso2.5_pinn': np.float64, 'odds_ftgoalsu2.5_pinn': np.float64,
          'odds_ftgoalso2.5_bet365': np.float64, 'odds_ftgoalsu2.5_bet365': np.float64}
odds_df = pd.read_csv(INTERIM_DATA_DIR / 'indatabet-free-odds' / save_file_name,
                      parse_dates=['date'], dtype=dtypes, dayfirst=True, index_col=None)
odds_df.head()

        date id_fifa country league season           h              a  h_htgoals  a_htgoals h_ftgoals a_ftgoals et_pen_awd  odds_hwin_pinn  odds_draw_pinn  odds_awin_pinn  odds_hwin_bet365  odds_draw_bet365  odds_awin_bet365  odds_ftgoalso2.5_pinn  odds_ftgoalsu2.5_pinn  odds_ftgoalso2.5_bet365  odds_ftgoalsu2.5_bet365
0 2006-08-16     eur  europe   euro    NaN     belgium     kazakhstan        0.0        0.0       0.0       0.0        NaN             NaN             NaN             NaN              1.10               7.0             15.00                    NaN                    NaN                      NaN                      NaN
1 2006-09-02     eur  europe   euro    NaN       spain  liechtenstein        2.0        0.0       4.0       0.0        NaN             NaN             NaN             NaN              1.01              10.0             51.00                    NaN                    NaN                      NaN                      NaN
2 2006-09-02     eur  europe   euro    NaN  luxembourg    netherlands        0.0        1.0       0.0       1.0        NaN             NaN             NaN             NaN             51.00              10.0              1.01                    NaN                    NaN                      NaN                      NaN
3 2006-09-02     eur  europe   euro    NaN     moldova         greece        0.0        1.0       0.0       1.0        NaN             NaN             NaN             NaN              5.00               3.6              1.57                    NaN                    NaN                      NaN                      NaN
4 2006-09-02     eur  europe   euro    NaN      serbia     azerbaijan        0.0        0.0       1.0       0.0        NaN             NaN             NaN             NaN              1.10               7.0             15.00                    NaN                    NaN                      NaN                      NaN

In [9]:
odds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228764 entries, 0 to 228763
Data columns (total 22 columns):
date                       228764 non-null datetime64[ns]
id_fifa                    228764 non-null object
country                    228764 non-null object
league                     228764 non-null object
season                     174088 non-null object
h                          228764 non-null object
a                          228764 non-null object
h_htgoals                  206228 non-null float64
a_htgoals                  206228 non-null float64
h_ftgoals                  228729 non-null object
a_ftgoals                  228688 non-null object
et_pen_awd                 216 non-null object
odds_hwin_pinn             198094 non-null float64
odds_draw_pinn             198094 non-null float64
odds_awin_pinn             198093 non-null float64
odds_hwin_bet365           221965 non-null float64
odds_draw_bet365           221965 non-null float64
odds_awin_bet365           221965 non-null float64
odds_ftgoalso2.5_pinn      137059 non-null float64
odds_ftgoalsu2.5_pinn      137051 non-null float64
odds_ftgoalso2.5_bet365    185095 non-null float64
odds_ftgoalsu2.5_bet365    185097 non-null float64
dtypes: datetime64[ns](1), float64(12), object(9)
memory usage: 38.4+ MB

In [10]:
odds_df.describe()

           h_htgoals      a_htgoals  odds_hwin_pinn  odds_draw_pinn  odds_awin_pinn  odds_hwin_bet365  odds_draw_bet365  odds_awin_bet365  odds_ftgoalso2.5_pinn  odds_ftgoalsu2.5_pinn  odds_ftgoalso2.5_bet365  odds_ftgoalsu2.5_bet365
count  206228.000000  206228.000000   198094.000000   198094.000000   198093.000000     221965.000000     221965.000000     221965.000000          137059.000000          137051.000000            185095.000000            185097.000000
mean        0.655813       0.496373        2.547345        3.765756        4.371138          2.392791          3.579660          3.919700               2.040008               1.900372                 1.947441                 1.918652
std         0.814414       0.714131        1.585036        0.914428        3.078776          1.435161          0.884157          2.612265               0.395516               0.288827                 0.363597                 0.360273
min         0.000000       0.000000        1.020000        1.570000        1.010000          1.000000          1.250000          1.000000               1.080000               1.240000                 1.010000                 1.080000
25%         0.000000       0.000000        1.810000        3.340000        2.750000          1.750000          3.250000          2.600000               1.840000               1.700000                 1.730000                 1.700000
50%         0.000000       0.000000        2.200000        3.520000        3.560000          2.100000          3.400000          3.250000               2.020000               1.860000                 1.950000                 1.850000
75%         1.000000       1.000000        2.740000        3.850000        4.890000          2.600000          3.600000          4.330000               2.220000               2.040000                 2.100000                 2.080000
max         8.000000       6.000000      101.000000       36.000000      111.210000         67.000000         41.000000         99.990000              78.500000              25.500000                51.000000                29.000000